body {
    color: white;
    background-color: #313131;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

textarea {
    width: 400px;
    height: 200px;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
}

h1:hover {
    color: midnightblue;
}